.parent-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: none; 
    overflow: auto; 
}

.content-component {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.overlay-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 10; 
    
    background-color: rgba(0, 0, 0, 0.5); 
    color: var(--color-brown);
    display: flex;
    align-items: center;
    justify-content: center;
}