<div class="card" (mouseenter)="hover = true" (mouseleave)="hover = false">
  <!-- IMAGE + ICONS -->
  <div class="img-wrapper">
    <img [src]="image" />

    <div class="icon-group">
      <button class="icon-btn heart-btn" [class.active]="wishlist" (click)="toggleWishlist($event)">
        <i class="fa-regular fa-heart" *ngIf="!wishlist"></i>
        <i class="fa-solid fa-heart" *ngIf="wishlist"></i>
      </button>

      <button class="icon-btn eye-btn" (click)="openPreview($event)">
        <i class="fa-regular fa-eye" *ngIf="!showPreview"></i>
        <i class="fa-solid fa-eye" *ngIf="showPreview"></i>
      </button>
    </div>
  </div>

  <div class="content">
    <h3 class="product-brand">{{ brand }}</h3>
    <p class="product-name">{{ name }}</p>

    <div class="stars">
      <ng-container *ngFor="let s of [1, 2, 3, 4, 5]">
        <i class="fa-solid fa-star" *ngIf="s <= rating"></i>
        <i class="fa-regular fa-star" *ngIf="s > rating"></i>
      </ng-container>
    </div>

    <p class="price">{price}</p>

    <button class="cart-btn">
      <span
        style="
          font-size: var(--font-size-s);
          font-weight: var(--font-weight-medium);
          font-family: var(--font-nunito);
        "
        >Thêm Vào Giỏ Hàng
      </span>
      <svg
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M6 2L3 6v14a2 2 0 002 2h14a2 2 0 002-2V6l-3-4" />
        <line x1="3" y1="6" x2="21" y2="6" />
        <path d="M16 10a4 4 0 01-8 0" />
      </svg>
    </button>
  </div>

  <div class="overlay" *ngIf="showPreview" (click)="closePreview()">
    <div class="overlay-content" (click)="$event.stopPropagation()">
      <button class="overlay-close" (click)="closePreview()">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <div class="overlay-body">
        <div class="overlay-left">
          <img [src]="image" [alt]="name" class="preview-img" />

          <div class="overlay-rating">
            <ng-container *ngFor="let s of [1, 2, 3, 4, 5]">
              <i class="fa-solid fa-star" *ngIf="s <= rating">{{ rating }}</i>
              <i class="fa-regular fa-star" *ngIf="s > rating">{{ rating }}</i>
            </ng-container>
          </div>
        </div>

        <!-- RIGHT: TEXT -->
        <div class="overlay-right">
          <h2 class="overlay-name">{{ name }}</h2>

          <!-- SOLD + STATUS -->
          <div class="overlay-top-row">
            <span class="sold">Đã bán {{ bought }} sản phẩm</span>
            <span class="status">
              Trạng thái:
              <span class="status-value" [class.out-of-stock]="status === 'Hết hàng'">
                {stock}
              </span>
            </span>
          </div>

          <div class="overlay-desc">{{ description }}</div>

          <div class="overlay-link-row">
            <a href="javascript:void(0)" class="overlay-link" (click)="openProductDetail($event)">
              Xem chi tiết sản phẩm
            </a>
          </div>

          <div class="overlay-price-row">
            <span class="price-label">Giá sản phẩm</span>
            <span class="price-value">{{ price }}</span>
          </div>

          <!-- BUTTONS -->
          <div class="overlay-actions">
            <button class="btn-add">Thêm Vào Giỏ Hàng</button>
            <button class="btn-buy">Mua Ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
