.desktop-filter {
  width: 100%;
  background-color: var(--color-pink1);
  padding: 8px;
  border-radius: 0px;
}

.filter-desktop-title {
  font-family: var(--font-nunito);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extraBold);
  color: var(--color-red);
  padding: 8px 8px 8px 16px;
}

.main-filter-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  font-family: var(--font-nunito);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-black);
  color: var(--color-red);
}

.main-filter-arrow {
  transition: transform 0.3s ease;
}

.main-filter-arrow.open {
  transform: rotate(180deg);
}

.filter-content-wrapper {
  max-height: 10000px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.filter-content-wrapper.closed {
  max-height: 0;
}

.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-brown);
  border-bottom: 2px solid var(--color-brown);
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(-135deg);
}

.filter-block {
  padding: 16px;
  margin-bottom: 0px;
  border-bottom: 1px solid var(--color-brown);
}

.filter-block.active {
  border-top: 1px solid var(--color-brown);
  border-bottom: none;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-title {
  font-size: var(--font-size-m);
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
  color: var(--color-brown);
}

.filter-block.active .filter-title {
  color: var(--color-pink3);
}

.filter-content {
  margin-top: 15px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 6px 0;
}

.manual-price-row {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 6px 0px 1px 0px;
  height: 30px;
}

.circle {
  width: 13px;
  height: 13px;
  border: 2px solid var(--color-brown);
  border-radius: 50%;
}

.radio-circle input:checked + .circle {
  background: var(--color-brown);
}

.price-boxes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-box {
  width: 70px;
  height: 24px;
  padding: 6px;
  border: 1px solid var(--color-pink3);
  border-radius: 6px;
  background-color: var(--color-beige);
}

.apply-btn {
  margin-top: 0px;
  width: 80px;
  text-align: center;
  align-self: center;
  padding: 2px;
  border: 1px solid var(--color-brown);
  border-radius: 20px;
  color: var(--color-brown);
  background: var(--color-pink1);
  font-size: var(--font-size-s);
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  justify-self: center;
}

.apply-btn:hover {
  background-color: var(--color-pink3);
  color: var(--color-beige);
  border: none;
  transform: scale(1.08); /* Hiệu ứng bounce */
}

.apply-btn:active {
  transform: scale(0.95);
}

.filter-title-container {
  margin-bottom: 12px;
  padding-left: 16px;
}

.filter-title {
  font-size: var(--font-size-m);
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
  color: var(--color-brown);
}

.color-container {
  margin-top: 12px;
  padding: 8px;
  background-color: var(--color-pink2);
  border-radius: 20px;
}

.color-container.active {
  background-color: var(--color-pink3);
}

.selected-filters {
  color: var(--color-beige);
  font: var(--font-nunito);
  font-weight: var(--font-size-l);
  text-align: left;
  border: 1px solid var(--color-red);
  background-color: var(--color-red);
  max-width: 230px;
  padding-left: 10px;
}

.selected-filters:hover {
  color: var(--color-pink1);
}

@media (max-width: 768px) {
  .filter-desktop-title {
    display: none;
  }
  .main-filter-header {
    display: flex;
    padding: 6px 8px;
    font-size: var(--font-size-m);
  }

  .filter-content-wrapper {
    max-height: 0;
  }

  .filter-content-wrapper.closed {
    max-height: 0;
  }

  .filter-block {
    padding: 10px 12px;
    margin-bottom: 5px;
  }

  .filter-content-wrapper:not(.closed) {
    max-height: 10000px;
  }
}
