
<div class="selected-filters">
  <span *ngFor="let selected of selectedFilters; let isLast = last">
    {{ selected }}<span *ngIf="!isLast"> 🌸 </span>
  </span>
</div>


<div class="desktop-filter">
  <div class="filter">Bộ Lọc</div>

  <div class="filter-block" *ngFor="let item of filters" [class.active]="item.open">
    <div class="filter-header" (click)="toggle(item)">
      <span class="filter-title">{{ item.title }}</span>
      <span class="arrow" [class.open]="item.open"></span>
    </div>

    <div class="filter-content" *ngIf="item.open">
      <!-- Checkbox Filter -->
      <ng-container *ngIf="item.type === 'checkbox'">
        <label class="option" *ngFor="let opt of item.options">
          <input type="checkbox" (change)="onFilterChange(item, opt)" />
          {{ opt }}
        </label>
      </ng-container>

      <!-- Price Filter (Radio Buttons) -->
      <ng-container *ngIf="item.type === 'price'">
        <label class="option" *ngFor="let opt of priceOptions">
          <input type="radio" name="price-range" (change)="onFilterChange(item, opt)" />
          {{ opt }}
        </label>

        <div class="manual-price-row">
          <div class="option1">
            <label class="radio-circle">
              <input type="radio" name="price-range" />
            </label>
          </div>

          <div class="price-boxes">
            <input type="number" placeholder="Min" class="price-box" />
            <span style="color: #372b2b">-</span>
            <input type="number" placeholder="Max" class="price-box" />
          </div>
        </div>

        <button class="apply-btn" style="margin-left: 55px" (click)="applyPriceFilter()">Áp dụng</button>
      </ng-container>
    </div>
  </div>
</div>
<!--
<div class="selected-filters">
  <span *ngFor="let selected of selectedFilters">{{ selected }} </span>
</div> -->

<!-- Hiển thị các lựa chọn đã chọn trên đầu trang -->
<!-- <div class="selected-filters">
  <span *ngFor="let selected of selectedFilters; let isLast = last">
    {{ selected }}<span *ngIf="!isLast"> 🌸 </span>
  </span>
</div> -->

