<div class="order-item">
  <!-- Ảnh sản phẩm -->
  <div class="item-thumb">
    <img [src]="image" alt="{{ name }}" />
  </div>

  <!-- Thông tin sản phẩm -->
  <div class="item-main">
    <div class="item-row-top">
      <div class="item-title">
        <div class="item-brand label-text">
          {{ brand }}
        </div>
        <div class="item-name body-text">
          {{ name }}
        </div>
      </div>

      <div class="item-qty-price">
        <div class="item-qty body-text"> {{ quantity }}x </div>
        <div class="item-price body-text">
          {{ price | number : '1.0-0' }}đ
        </div>
      </div>
    </div>

    <div class="item-row-bottom">
      <span class="item-total-label body-text">Tổng</span>
      <span class="item-total-value body-text">
        {{ (price * quantity) | number : '1.0-0' }}đ
      </span>
    </div>
  </div>
</div>
