<div class="order-item">
  <!-- Ảnh sản phẩm -->
  <div class="item-thumb">
    <img src="https://www.sephora.com/productimages/sku/s2911741-main-zoom.jpg?imwidth=1224" class="cart-img">
  </div>

  <!-- Khối nội dung:  -->
  <div class="item-main">

    <div class="item-info">
      <div class="item-brand label-text">
        Patrick Ta
      </div>
      <div class="item-name">
        Bộ đôi má hồng kem & phấn Major Headlines Double-Take
      </div>
    </div>

    <div class="item-prices">
      <!-- Hàng 1: số lượng + giá -->
      <div class="price-row body-text">
        <span class="item-qty">1x</span>
        <span class="item-price">
          100.000đ
        </span>
      </div>

      <!-- Hàng 2: Tổng + tổng tiền -->
      <div class="price-row body-text">
        <span class="item-total-label">Tổng</span>
        <span class="item-total-value">
          100.000đ
        </span>
      </div>
    </div>
  </div>
</div>
