.order-item {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  background-color: var(--color-beige);
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 5px;
  position: relative;
  object-fit: cover;
  transition: transform 0.5s;
  margin: 5px;
}

.order-item:hover{
  transform: scale(1.02);
}

/* Ảnh bên trái */
.item-thumb img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: var(--radius-sm);
}

/* Khối giữa + phải */
.item-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-3);
}

/* GIỮA: thương hiệu + tên */
.item-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item-brand {
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  color: var(--color-brown);
}

.item-name {
  font-family: var(--font-beVietnamPro);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  color: var(--color-brown);
}

/* PHẢI: 2 hàng giá */
.item-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

/* Mỗi hàng bên phải */
.price-row {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

/* Số lượng / label Tổng – màu xám nhạt */
.item-qty,
.item-total-label {
  color: var(--color-grey);
}

/* Giá & tổng giá – màu chữ chính */
.item-price,
.item-total-value {
  color: var(--color-brown);
}

/* ================== MOBILE ================== */
@media (max-width: 768px) {
  .order-item {
    align-items: flex-start;
  }

  .item-main {
    flex-direction: row;       
    align-items: flex-start;
  }

  /* Cột bên phải */
  .item-prices {
    align-items: flex-end;    
    text-align: right;        
  }

  .price-row {
    justify-content: flex-end;  
    width: 100%;
  }
}

