.product-card {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  width: 400px;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
  margin: 0;
  text-align: left;
}

.product-variant {
  font-size: 14px;
  color: #888;
  margin: 4px 0;
  text-align: left;
}

.product-price {
  font-size: 16px;
  color: #800000;
  font-weight: bold;
  text-align: left;
}

.product-container{
  display: flex;
  flex-direction: column;
}
