<div tabindex="0" class="slider" style="
            --width: 150px;
            --height: 150px;
            --quantity: 10;
            --duration: 20s;
        ">
  <ul class="list">
    <li class="item" style="--position: 1"><img src="images/Brands/1.png" alt=""></li>
    <li class="item" style="--position: 2"><img src="images/Brands/3.png" alt=""></li>
    <li class="item" style="--position: 3"><img src="images/Brands/4.png" alt=""></li>
    <li class="item" style="--position: 4"><img src="images/Brands/5.png" alt=""></li>
    <li class="item" style="--position: 5"><img src="images/Brands/6.png" alt=""></li>
    <li class="item" style="--position: 6"><img src="images/Brands/7.png" alt=""></li>
    <li class="item" style="--position: 7"><img src="images/Brands/8.png" alt=""></li>
    <li class="item" style="--position: 8"><img src="images/Brands/9.png" alt=""></li>
    <li class="item" style="--position: 9"><img src="images/Brands/10.png" alt=""></li>
    <li class="item" style="--position: 10"><img src="images/Brands/2.png" alt=""></li>
    <li class="item" style="--position: 11"><img src="images/Brands/11.png" alt=""></li>
    <li class="item" style="--position: 12"><img src="images/Brands/12.png" alt=""></li>
    <li class="item" style="--position: 13"><img src="images/Brands/13.png" alt=""></li>
    <li class="item" style="--position: 14"><img src="images/Brands/14.png" alt=""></li>


  </ul>
</div>
