
app-header {
  width: 100%;
  height: 60px;
  background-color: #6B1E2E;
  display: block;
  flex-shrink: 0;
}


.main-layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #ffffff;
  overflow: hidden;
}


app-sidebar {
  width: 240px;               
  background-color: #FFE8EC;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid #e2b6be;
}


.main-content {
  flex: 1;                   
  overflow-y: auto;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}


@media (max-width: 900px) {
  app-sidebar {
    width: 200px;
  }
}

@media (max-width: 700px) {
  .main-layout {
    position: relative;
  }

  app-sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 240px;
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    transition: transform 0.25s ease;
    z-index: 20;
  }

  app-sidebar.open {
    transform: translateX(0);
  }
} 


