.banner-page {
  width: 100%;
  padding: 20px 40px;
  font-family: "Nunito", sans-serif;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  color: #6B1E2E;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.banner-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.banner-item {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.banner-item img {
  width: 100%;
  border-radius: 6px;
  display: block;
}

.apply-btn {
  position: absolute;
  left: 80px;
  bottom: 65px;
  padding: 8px 22px;
  border-radius: 6px;
  border: none;
  background-color: #f7bdca;
  font-weight: 600;
  cursor: pointer;
  color: #6B1E2E;
  transition: 0.2s;
}

.apply-btn:hover {
  background-color: #f29ab0;
}


.view-more-wrapper {
  text-align: center;
  margin-top: 10px;
}

.view-more {
  border: none;
  background: none;
  color: #6B1E2E;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}

.mt-50 {
  margin-top: 50px;
}

.collection-item {
  background-color: #ffdee6;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.collection-img {
  width: 380px;
  border-radius: 8px;
}

.collection-content {
  flex: 1;
}

.collection-title {
  font-size: 22px;
  font-weight: 700;
  color: #6B1E2E;
  margin-bottom: 12px;
}

.collection-text {
  font-size: 14px;
  line-height: 1.55;
  color: #6B1E2E;
  margin-bottom: 12px;
}
