 <aside class="sidebar">
  <div class="sidebar-header">
    <div class="user-info">
      <img src="images/a.png" alt="User" class="avatar">
      <h2 class="username">Ngọc Anh</h2>
    </div>
    <hr class="divider" />
  </div>

  <nav class="menu">
    <ul>
      <li class="menu-item">
        <a routerLink="/dashboard" >Dashboard</a>
      </li>
      <li class="menu-item">
        <a routerLink="products" >Quản Lý Sản Phẩm</a>
      </li>
      <li class="menu-item">
        <a routerLink="/khuyenmai">Khuyến Mãi/ Giảm Giá</a>
      </li>
      <li class="menu-item">
        <a routerLink="order" >Đơn Hàng</a>
      </li> 
      <li class="menu-item">
        <a routerLink="/tonkho" >Tồn Kho</a>
      </li>
      <li class="menu-item">
        <a routerLink="/review" >Duyệt Bài Đăng/ Đánh Giá</a>
      </li>
      <li class="menu-item">
        <a routerLink="/user" >Quản Lý Người Dùng</a>
      </li>
      <li class="menu-item">
        <a routerLink="banner" >Banner/ Bộ Sưu Tập</a>
      </li>
    </ul>
  </nav>
</aside>
 

 