.discount-page {
  width: 100%;
  padding: 40px 40px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.page-title {
font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6B1E2E;

}

/* --- GRID 3 CỘT ĐỀU ĐẸP --- */
.voucher-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
}

/* Card */
.voucher-card {
  background-color: #FFE8EC;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(107, 30, 46, 0.12);
  padding: 25px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icon */
.voucher-icon {
  font-size: 40px;
  color: #FFADBE;
  margin-bottom: 10px;
}

/* Text */
.voucher-title {
  font-size: 26px;
  font-weight: 800;
  color: #6B1E2E;
  margin: 0;
}

.voucher-sub {
  font-size: 18px;
  color: #372B2B;
  margin: 8px 0 20px;
}

/* Code box */
.voucher-code-box {
  width: 100%;
  border: 2px dashed #FFADBE;
  border-radius: 10px;
  padding: 18px 0;
  background: #fff5f6;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.voucher-code-box .label {
  font-size: 16px;
  color: #6B1E2E;
  margin: 0;
}

.voucher-code-box .code {
  font-size: 22px;
  font-weight: 700;
  color: #FFADBE;
  margin-top: 5px;
}

/* Button */
.generate-btn {
  background-color: #FFADBE;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 70%;
}

.generate-btn:hover {
  background-color: #6B1E2E;
}
