.big-tiltle{
    color: var(--color-red);
    font-family: var(--font-nunito);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-black);
}

.cart-container {
    width: 100%;
    margin: 20px auto;
    font-family: var(--font-nunito);
    font-size: var(--font-size-m);
    border-radius: 4px; /* Nếu muốn có góc bo */
    overflow: hidden;
}

/* --- HEADER STYLES --- */
.cart-header {
    display: flex;
    background-color: var(--color-red);
    color: var(--color-beige);
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.header-cell {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Phân bổ độ rộng các cột */
.checkbox-cell {
    width: 5%; /* Ô vuông chọn */
}
.product-cell {
    flex-grow: 1;
    text-align: left; /* Căn trái cho tên sản phẩm */
    padding-left: 0;
    justify-content: flex-start;
}
.price-cell, .quantity-cell, .total-cell {
    width: 15%; /* Các cột giá trị */
}

@media (max-width: 700px) {
    .cart-header .header-cell:not(.checkbox-cell):not(.product-cell) {
        display: none;
    }
    .cart-header {
        justify-content: flex-start; 
    }
    .cart-container{
        font-size: var(--font-size-s);
    }
    .big-tiltle{
    font-size: var(--font-size-mxl);
    font-weight: var(--font-weight-black);
}
}





/* Giỏ hàng và Hóa đơn */
.cart-wrapper {
    display: flex;
    gap: 5px; 
    align-items: flex-start; 
    max-width: 1200px; 
    margin: 0 auto;
    flex-wrap: wrap;
}

.cart-left {
    flex-grow: 1; 
}

.order-right {
    background-color: var(--color-beige);
    border-radius: var(--radius-md);
    min-width: 300px;
    padding: var(--space-4); 
    flex-shrink: 0; 
    max-width: 400px;
    /* flex-grow: 1 */
}

/* Tiêu đề "Hóa đơn của bạn" */
.tiltle-column {
    background-color: var(--color-red);
    color: var(--color-beige);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 4px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.info {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(171, 19, 19, 0.2);
}
 
.info hr {
    border: none;
    border-top: 1px solid var(--color-brown);
    margin: 5px 0;
}

/* Tổng tiền (Total) */
.total {
    text-align: center;
}

.total-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

/* Nút Mua hàng (btn) */
.btn{
    margin: 10px;
    padding: var(--space-2) var(--space-5);
  border-radius: var(--radius-sm);
  border: var(--border-1) solid var(--color-brown);
  background-color: var(--color-pink2);
  color: var(--color-brown);
  cursor: pointer;
  max-width: 250px;
  box-shadow: 0 5px 10px rgba(171, 19, 19, 0.2);
}

.btn:hover {
  background-color: var(--color-pink3);
  box-shadow: none;
}

.btn:active{
  opacity: 0.8;
}

.text{
    font-size: var(--font-size-mm);
    font-weight: var(--font-weight-medium);
}

@media (max-width: 1000px) {     
    .cart-left, 
    .order-right {
        width: 100%;
        max-width: unset;
        flex-basis: 100%; 
    }
}



/* checkbox settings */

.ui-checkbox {
  --primary-color: #642d38;
  --secondary-color: #bea4a4;
  --primary-hover-color: #ede0e0;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #845b5b;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}