/* Đảm bảo sản phẩm hiển thị theo chiều ngang */
.product-list-container {
  display: flex;
  overflow-x: auto;  /* Cho phép cuộn ngang khi cần */
  gap: 20px;  /* Khoảng cách giữa các sản phẩm */
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0 auto;
  scroll-behavior: smooth;
  transition: transform 1s ease;
}

.product-card {
  min-width: 200px;  /* Đảm bảo mỗi sản phẩm có kích thước cố định */
  flex-shrink: 0;  /* Ngừng co lại khi cuộn */
}

/* Style phân trang */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* .pagination button {
  padding: 5px 10px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

/* Căn chỉnh và tạo kiểu cho thanh phân trang */
.pagination {
  display: flex;
  justify-content: center;  /* Canh giữa các phần tử */
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Cấu trúc cho các nút Previous và Next */
.pagination button {
  padding: 2px 5px;
  background-color: var(--color-red);  /* Màu hồng nhẹ */
  color: whitesmoke;
  border: 0.5px solid;  /* Đường viền hồng đậm */
  border-radius: 30px;  /* Bo tròn các góc */
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
  width: 50px;
}

/* Khi hover vào nút, thay đổi màu nền */
.pagination button:hover {
  background-color: var(--color-pink1);  /* Màu hồng đậm khi hover */
  border-color: var(--color-red);  /* Đổi màu viền khi hover */
  transform: translateY(-3px);  /* Di chuyển nhẹ lên khi hover */
  opacity: 1;
  color: black;
}

/* Hiệu ứng khi nút bị vô hiệu hóa (disabled) */
.pagination button:disabled {
  background-color: #e0a1c9;  /* Màu xám nhạt */
  border-color: #d79bb7;  /* Màu xám nhạt cho viền */
  cursor: not-allowed;  /* Không thể click */
  opacity: 0.6;  /* Giảm độ sáng */
}

/* Style cho số trang ở giữa */
.pagination span {
  font-size: 8px;
  font-weight: bold;
  color: var(--color-red);  /* Màu hồng đậm cho số trang */
  font: var(--nunito);
}

/* Tạo hiệu ứng cho các dấu chấm phân trang nếu cần */
.dots {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.dots div {
  width: 10px;
  height: 5px;
  background-color: #ffe2f4;  /* Màu hồng cho dấu chấm */
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.dots div:hover {
  opacity: 1;  /* Hiển thị rõ khi hover */
}

.dots div.active {
  background-color: #ff66b2;  /* Dấu chấm sáng khi trang được chọn */
  opacity: 1;  /* Không mờ */
}
