
.contact-page {
  font-family: var(--font-nunito);
  padding: var(--space-7) ; 
  max-width: 750px; 
  width: 100%;
  margin-inline: auto; 
}

.page-title {
  font-size: var(--font-size-xl, 35px);
  font-weight: var(--font-weight-extraBold, 800);
  color: var(--color-red, #6b1e2e);
  margin-bottom: var(--space-7, 48px);
}


.alert-box {
  background-color: var(--color-pink1, #FFE8EC);

  margin-bottom: var(--space-7, 48px);
  color: var(--color-brown, #372b2b);
}

.alert-title {
  font-size: var(--font-size-m, 20px);
  font-weight: var(--font-weight-extraBold, 800);
  color: var(--color-red, #6b1e2e);
  margin-top: 0;
  margin-bottom: var(--space-3, 12px);
  display: flex;
  align-items: center;
  gap: var(--space-2, 8px);
}

.alert-box i {
  font-size: 24px;
}

.alert-content p, .alert-content li {
  font-size: var(--font-size-s, 16px);
  line-height: var(--line-height-base, 1.5);
}

.alert-content ul {
  list-style: disc;
  padding-left: var(--space-5, 24px);
  margin-top: var(--space-3, 12px);
}


/* --- CHI TIẾT LIÊN HỆ --- */
.contact-section {
  padding-top: var(--space-4, 16px);
}

.section-title {
  font-size: var(--font-size-m, 20px);
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-red, #6b1e2e);
  margin-bottom: var(--space-4, 16px);
}

.guide-text {
  font-size: var(--font-size-s, 16px);
  color: var(--color-brown, #372b2b);
  margin-bottom: var(--space-6, 32px);
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: var(--space-4, 16px);
}

.detail-item {
  display: flex;
  align-items: center;
  gap: var(--space-3, 12px);
  font-size: var(--font-size-s); 
  font-weight: 500;
  color: var(--color-brown, #372b2b);
}

.detail-item i {
  font-size: 24px;
  color: var(--color-red, #6b1e2e);
}

.detail-item a {
  text-decoration: none;
  color: var(--color-brown, #372b2b);
  transition: color 0.2s;
}

.detail-item a:hover {
  color: var(--color-red, #6b1e2e);
}
.container{
    padding: 15px;
    background-color: var(--color-pink1);
}

