<div class="order-card">
  <!-- DS sản phẩm trong đơn -->
  <app-order-item></app-order-item>
  <app-order-item></app-order-item>

  <!-- Tổng tiền -->
  <div class="order-summary">
    <div class="order-summary-label body-text">
      Tổng Số Tiền:
    </div>
    <div class="order-summary-value body-text">
      200.000đ
    </div>
  </div>

  <!-- Nút xem chi tiết -->
  <div class="order-actions">
    <button type="button" class="order-detail-btn body-text">
      Đặt Hàng Lại
    </button>
    <button type="button" class="order-detail-btn body-text" (click)="goToDetail()">
      Yêu Cầu Đổi Trả
    </button>
  </div>
</div>
