.user-page {
  width: 100%;
  padding: 30px 40px;
  font-family: var(--font-nunito);
}

.title {
font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #6B1E2E;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #d4a5ad;
  background: #f7dfe5;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease;
}

.tab.active {
  background: var(--color-red);
  color: white;
}

.tab.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.table-wrapper {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th {
  background: #ffe8ec;
  padding: 10px;
  border-bottom: 2px solid #d4a5ad;
  text-align: center;
}

.user-table td {
  padding: 8px 10px;
  border-bottom: 1px solid #f1d1d7;
  text-align: center;
}

.user-table tr:nth-child(even) {
  background: #fff6f8;
}

.user-table tr.selected {
  background-color: var(--color-red)  !important;
  color: white;
}

.btn-row {
  display: flex;
  justify-content: center;     
  gap: 20px;                   
  margin-top: 25px;

  padding-bottom: 10px;        
  padding-top: 10px;          
}

.btn {
  padding: 10px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;

  border: 1px solid var(--color-red);
  cursor: pointer;
  transition: 0.2s ease;
}

.btn.edit {
  background: var(--color-red);
  color: white;
}

.btn.delete {
  background: white;
  color: var(--color-red);
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.edit-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dfb9c3;
  margin-bottom: 25px;
}

.edit-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--color-red);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

label {
  display: flex;
  flex-direction: column;
  color: var(--color-red);
}

input {
  padding: 8px;
  border: 1px solid #d4a5ad;
  border-radius: 6px;
}

.save-row {
  text-align: right;
  margin-top: 20px;
}

.save-btn {
  background: var(--color-red);
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
}
