<header>
  <!-- Dòng Quảng Cáo -->
  <div class="top-bar-ad">
    <div>
      Chương trình khuyến mãi 50% nhân dịp Halloween!
    </div>
  </div>

  <!-- Phần Header chính -->
  <div class="main-header-row">
    <div class="header-content">
      <div class="header-logo">
        <!-- Nếu dùng Angular assets -->
        <img src="assets/images/logo.png" alt="Kanila logo">
      </div>

      <div class="header-search">
        <div class="search-wrapper">
          <input type="text" placeholder="Tìm kiếm">
          <i class="fa fa-search search-icon"></i>
        </div>
      </div>

      <div class="header-links">
        <a href="#"><i class="fa fa-users"></i> <span>  Cộng đồng</span></a>
        <a href="#"><i class="fa fa-user"></i> <Span>  Hello Anh</Span></a>
        <a href="#"><i class="fa fa-cog"></i> <span>  Cài đặt</span></a>
      </div>

      <!-- Hamburger Menu Icon -->
      <div class="hamburger-menu" (click)="toggleMenu()" aria-label="Mở menu">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>

  <!-- Menu desktop -->
  <div class="menu">
    <div>
      <a href="#">Tất cả</a>
      <a href="#">Khuôn mặt</a>
      <a href="#">Đôi mắt</a>
      <a href="#">Đôi môi</a>
      <a href="#">Đôi má</a>
      <a href="#">Sản phẩm mới</a>
      <a href="#">Thương hiệu</a>
      <a href="#">Set quà</a>
      <a href="#">Deal hot</a>
      <a href="#"><i class="fa fa-heart"></i></a>
      <a href="#"><i class="fa fa-shopping-bag"></i></a>
    </div>
  </div>

  <!-- Mobile Slide Menu -->
  <div class="menu-slide" [ngClass]="{'show': menuVisible}">
    <a href="#">Tất cả</a>
    <a href="#">Khuôn mặt</a>
    <a href="#">Đôi mắt</a>
    <a href="#">Đôi môi</a>
    <a href="#">Đôi má</a>
    <a href="#">Sản phẩm mới</a>
    <a href="#">Thương hiệu</a>
    <a href="#">Set quà</a>
    <a href="#">Deal hot</a>
    <a href="#"><i class="fa fa-heart"></i></a>
    <a href="#"><i class="fa fa-shopping-bag"></i></a>
  </div>
</header>
