<!-- src/app/layouts/main-layout/main-layout.html -->
<app-header></app-header>

<!-- <main class="main-layout-content"> -->
  <!-- DANH SÁCH BLOG -->
  <!-- <section *ngIf="!showPostDetail">
    <app-post (readMore)="openPostDetail($event)"></app-post>
  </section> -->

  <!-- CHI TIẾT BLOG -->
  <!-- <section *ngIf="showPostDetail">
    <app-postdetail
      [detailId]="currentDetailId"
      (back)="backToList()"
      (openOther)="openPostDetail($event)"
    ></app-postdetail>
  </section> -->
<!-- </main> -->

<app-footer></app-footer>
