.title {
  font: var(--font-beVietnamPro);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

@media (max-width: 768px) {
  img {
    width: 100px;
    font-size: 16px;
  }
}

.content {
  color: var(--color-pink3);
  font: var(--font-nunito);
  font-size: 14px;
}