/* Reset mặc định, tránh tràn */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* App chỉ làm khung gốc */
:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
}
