/* From Uiverse.io by codebykay101 */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(rgba(249, 241, 245, 0.133), transparent);
  border: 1px solid rgba(239, 91, 221, 0.1);
  box-shadow: 0 25px 25px rgba(205, 133, 158, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(240, 133, 231, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-red);
}

.container .glass svg {
  font-size: 2.5em;
  fill: var(--color-brown);
  font: var(--font-nunito);
}
