
<swiper-container
  class="beautySwiper"
  speed="900"
  effect="slide"
  direction="horizontal"
  [attr.autoplay]="autoplay"
  loop="true"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  mousewheel="false"
>
  <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">BEAUTY INSIDER COMMUNITY</h2>
        <p class="subtitle">NƠI CHIA SẺ ĐAM MÊ </p>
        <p class="description">Ở đây có những bí quyết trang điểm độc quyền và không gian để bạn dễ dàng kết nối cùng cộng đồng yêu làm đẹp!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/all product.png" alt="community">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 2 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">BEST SELLER <br>HÀNG BÁN CHẠY</h2>
        <p class="subtitle">SẢN PHẨM VỚI LƯỢT MUA KHỔNG LỒ!</p>
        <p class="description">Những sản phẩm có tính ứng dụng cao, phù hợp với nhu cầu của rất nhiều người.</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/bestseller.png" alt="bestseller">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 3 -->
    <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1"> VÔ SỐ THƯƠNG HIỆU NỔI TIẾNG</h2>
        <p class="subtitle">KANILA ĐẶT CHẤT LƯỢNG SẢN PHẨM LÊN TRÊN HẾT! </p>
        <p class="description">Kanila hợp tác với những thương hiệu nổi tiếng, mang đến sản phẩm chất lượng cho người dùng!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/brand.png" alt="brand">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>



  <!-- Slide 3 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">KANILA <br> COSMESTIC</h2>
        <p class="subtitle"> CHÍNH SÁCH VÀ QUYỀN LỢI HẤP DẪN </p>
        <p class="description">Cùng với chất lượng sản phẩm, Kanila cũng luôn đề cao cảm nhận và trải nghiệm của khách hàng!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/community.png" alt="product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>



  <!-- Slide 4 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">DEAL HOT <br> MÃ GIẢM GIÁ</h2>
        <p class="subtitle">HÀNG NGÀN DEAL HỜI ĐANG CHỜ BẠN </p>
        <p class="description">Sắp đến Tết rồi, hàng loạt Deal Hot lần lượt được tung ra, mua hàng lời gấp mấy lần!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/deal.png" alt="deal">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>


  <!-- Slide 5 -->
     <!-- Slide 1 -->
  <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">GIF BOX <br> SET QUÀ</h2>
        <p class="subtitle">NHỮNG MÓN QUÀ XỈNH XẺO, MUA 1 LẦN ĐỦ COMBO </p>
        <p class="description">Lo ngại không biết nên kết hợp những loại sản phẩm nào với nhau, đừng lo đã có những Set quà ở đây!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/gift_box.png" alt="product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
  </swiper-slide>

  <!-- Slide 6 -->
     <swiper-slide >
    <div class="slide-layout">

      <!-- Text Left -->
      <div class="text-box">
        <!-- <h2 class="title" >DISCOVER YOUR INNER BEAUTY</h2> -->
        <h2 class="title1">SẢN PHẨM MỚI</h2>
        <p class="subtitle">HÀNG VỀ HÀNG VỀ, NHANH TAY RINH NÈ</p>
        <p class="description">Những dòng sản phẩm mới vừa ra mắt, hứa hẹn mang đến công dụng bùng nổ!</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>

      </div>

      <!-- Image Right -->
      <div class="image-box">
        <img src="images/Banner/new_product.png" alt="new_product">
      </div>

      <!-- Background color -->
      <div class="bg-color"></div>
    </div>
      </swiper-slide>

  <!-- Slide 2
  <swiper-slide>
    <div class="slide-layout">
      <div class="text-box">
        <h2 class="title">SOFT & NATURAL LOOK</h2>
        <p class="subtitle">Everyday Beauty</p>
        <p class="description">Glow with curated beauty essentials.</p>
        <button class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
          </svg>
          <span class="text">Khám phá ngay</span>
        </button>
      </div>

      <div class="image-box">
        <img src="https://your-image-2.jpg" alt="product">
      </div>

      <div class="bg-color" style="background:#ffe1ea;"></div>
    </div>
  </swiper-slide> -->





</swiper-container>


