.cart-item {
    display: flex;
    align-items: center; 
    padding: 15px;
    border-bottom: 1px solid #eee;
    gap: 15px; 
    background-color: #fff;
    font-family: var(--font-beVietnamPro);
    font-size: 13px;
}


.cart-check {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.cart-img {
    width: 80px; 
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.detail {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    gap: 10px; 
}

.cart-info {
    text-align: left;
}

.cart-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.cart-desc {
    font-size: 0.9em;
    color: #777;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 56%;
    max-height: 20px;
    align-self: flex-end;
}

.cart-remove {
    flex-basis: 5%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2.5em;
    color: var(--color-grey);
}

.cart-price, .cart-total {
    flex-basis: 25%;
    text-align: center;
    font-weight: 600;
}

.cart-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-basis: 25%; */
}

.qty-btn {
    border: none;
    background-color: #f9f9f9;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
}

.qty-number {
    padding: 0 10px;
    border-top: none;
    border-bottom:none;
    height: 25px;
    line-height: 25px;
    text-align: center;
}


@media (max-width: 700px) {

    .detail {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .data {
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }

    .cart-item{
        font-size: 11px;
    }

}