.discount-page {
  width: 100%;
  padding: 32px 32px; 
  font-family: 'Nunito', sans-serif; 
  box-sizing: border-box;
}

.page-title {
font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6B1E2E; 
}

.voucher-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px; 
  width: 100%;
}

.voucher-card {
  background-color: #FFE8EC; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(107, 30, 46, 0.12); 
  padding: 24px 16px; 
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer; 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}


.voucher-card:hover {
  transform: scale(1.03); /* Phóng to 3% */
  box-shadow: 0 8px 20px rgba(107, 30, 46, 0.2); /* Tăng độ sâu bóng đổ */
}

.voucher-icon {
  font-size: 32px; 
  color: #FFADBE; 
  margin-bottom: 12px;
}

.voucher-title {
  font-size: 25px; 
  font-weight: 800;
  color: #6B1E2E; 
  margin: 0;
}

.voucher-sub {
  font-size: 16px; 
  color: #372B2B; 
  margin: 8px 0 24px; 
}

.voucher-code-box {
  width: 100%;
  border: 2px dashed #FFADBE; 
  border-radius: 8px;
  padding: 16px 0; 
  background: #fdf9f8; 
  margin-bottom: 24px; 

  display: flex;
  flex-direction: column;
  align-items: center;
}

.voucher-code-box .label {
  font-size: 16px; 
  color: #6B1E2E; 
  margin: 0;
}

.voucher-code-box .code {
  font-size: 20px; 
  font-weight: 800;
  color: #FFADBE; 
  margin-top: 4px; 
}

.generate-btn {
  background-color: #FFADBE; 
  border: none;
  border-radius: 8px;
  color: #fff; 
  font-size: 16px; 
  font-weight: 600;
  padding: 12px 16px; 
  cursor: pointer;
  transition: 0.2s ease;
  width: 70%;
}

.generate-btn:hover {
  background-color: #6B1E2E; 
}