.auth-card {
  width: 100%;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: var(--color-pink1);
  box-shadow: 0 10px 20px rgba(193, 63, 63, 0.247);
  padding: 15px;
  box-sizing: border-box;
}

.form-title {
  font-family: var(--font-nunito);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  color: var(--color-brown);
  margin-bottom: 8px;
}

.form-subtitle {
  font-family: var(--font-nunito);
  font-size: var(--font-size-s);
  color: var(--color-brown);
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 300px;
  padding: 14px 20px;
  border: 1px solid var(--color-pink3);
  border-radius: 20px;
  font-size: var(--font-size-m);
  font-family: var(--font-nunito);
  color: var(--color-brown);
  transition: transform 0.7s;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: var(--color-beige);
}

.form-group input:focus {
  outline: none;
  border-color: var(--color-pink3);
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(171, 19, 19, 0.162);
}

.submit-button {
  width: 150px;
  padding: 10px 5px;
  background-color: var(--color-pink3);
  color: var(--color-brown);
  border: none;
  border-radius: 20px;
  font-size: var(--font-size-m);
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-extraBold);
  cursor: pointer;
  margin-top: 15px;
  transition: transform 0.2s ease-out, background-color 0.2s ease;
}

.submit-button:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  transform: scale(1.05);
}

.submit-button:disabled {
  background-color: var(--color-grey);
  cursor: not-allowed;
  transform: scale(1);
  color: var(--color-brown);
}

.submit-button:active {
  transform: scale(0.95);
  transition-duration: 0.1s;
}

.switch-link {
  font-size: var(--font-size-s);
  color: var(--color-brown);
  margin-top: 15px;
}

.switch-link a {
  color: var(--color-red);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.switch-link a:hover {
  text-decoration: none;
  text-shadow: 0 0 8px var(--color-red);
  color: var(--color-red);
}

.form-subtitle.success-message {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-brown);
}
.form-subtitle.success-message strong {
  color: var(--color-red);
  font-weight: var(--font-weight-extraBold);
}

.resend-link {
  font-size: var(--font-size-s);
  color: var(--color-brown);
  margin-top: 15px;
}

.resend-link a {
  color: var(--color-red);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Khi timer đang chạy (bị disabled) */
.resend-link a.disabled {
  color: var(--color-grey);
  cursor: not-allowed;
  text-decoration: none;
}

.resend-link a:not(.disabled):hover {
  text-decoration: none;
  color: var(--color-red);
}

.notification-bar {
  width: fit-content;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(178, 5, 5, 0.126);
  font-family: var(--font-beVietnamPro);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  font-style: italic;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
}
.notification-bar.error {
  background-color: var(--color-pink2);
  border: 1px solid var(--color-pink2);
  color: var(--color-brown);
  margin: 0 auto 20px auto;
}
.notification-bar.success {
  background-color: #e8f5e9;
  border: none;
  color: #3c763d;
  box-shadow: 0 5px 10px rgba(5, 178, 19, 0.29);
}
