.catalog-page {
  display: grid;
  gap: 32px;
  background-color: var(--color-beige);
  grid-template-columns: 220px 1fr;
  transition: gap 0.3s ease;
  min-width: 1200px;
}

.catalog-filter {
  position: static;
  top: 20px;
  height: fit-content;
  margin-left: 10px;
  margin-top: 10px;
}

.catalog-title {
  font-family: var(--font-nunito);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  color: var(--color-red);
  padding-left: 5px;
}

.product-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media (max-width: 992px) {
  .catalog-page {
    grid-template-columns: 1fr;
    min-width: 0;
    gap: 16px;
  }
}
