<div class="overlay-container">
  <div class="preference-popup">
    <div>
      <button class="close-btn" (click)="closeOverlay()">
        <img
          src="https://files.svgcdn.io/pajamas/close.svg"
          alt="đóng"
          width="20px"
          height="20px"
        />
      </button>
      <p class="title">Đã lưu đặc điểm cho Làn Da Của Bạn</p>
    </div>

    <div class="divider-row">
      <img src="/images/divider/Provider1_l.png" alt="Provider divider" width="350" />
      <span class="flower"><img src="/images/flower.png" alt="Provider divider" width="20" /></span>
      <span class="flower"><img src="/images/flower.png" alt="Provider divider" width="20" /></span>
      <span class="flower"><img src="/images/flower.png" alt="Provider divider" width="20" /></span>
      <img src="/images/divider/Provider1_r.png" alt="Provider divider" width="350" />
    </div>
    <p class="subtitle1">Trông tuyệt lắm, <span style="color: var(--color-pink3)">Anh</span>!</p>
    <p class="subtitle1">
      Bạn có thể vào Làn Da Của Bạn để chỉnh câu trả lời của mình hoặc chia sẻ thêm để nhận gợi ý
      sản phẩm dành riêng cho bạn nhé
    </p>
    <p class="subtitle1">Chúc bạn mua sắm vui vẻ!</p>

    <div class="button-group">
      <button (click)="goToBeauty()">Tiếp Tục</button>
      <button (click)="goMain()">OK</button>
    </div>
  </div>
</div>
